asyncio
aiofiles
aioshutil
anytree
apscheduler
aioaria2
aioqbt
cloudscraper
dnspython
ElectroCrypto
kurigram
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
langcodes
lxml
natsort
pillow
psutil
pymongo
pyshorteners
python-magic
pytz
pytdbot[tdjson]
requests
speedtest-cli
truelink
telegraph
tenacity
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
aiohttp
aiofiles
aioshutil
anytree==2.8.0
apscheduler
aria2p
asyncio
beautifulsoup4
bencoding
cinemagoer
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes[data]
lxml
motor
mutagen
markdown
natsort
pillow
psutil
pybase64
pycountry
pyrofork
python-dotenv
pyshorteners
python-magic
quoters
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tgcrypto
uvloop
xattr
yt-dlp
